<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <h1>Euromilions Random Genarator</h1>
    <div class="container">
        <h2>Numbers</h2>
        <div class="numbers">
            
            <ul>
                {{range .Numbers}}
                <li>{{.}}</li>
                {{end}}
            </ul>
        </div>
        <h2>Stars</h2>
        <div class="stars">
            <ul>
                {{range .Stars}}
                <li>{{.}}</li>
                {{end}}
            </ul>

        </div>
        <div class="buttons">
            <button type="button" id="refresh">Generate</button> 

        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>